<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todo App Template</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">

            </div>
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="main">
            <header>
                <div class="search-container">
                    <input type="text" placeholder="&#128269; Search" name="search" id="search">
                </div>
                <div class="profile">
                    <img src="profile.jpg" class="profile-img" alt="">
                    <span class="profile-name">Peter</span>
                    <span class="profile-bell">&#128276</span>
                </div>
            </header>
            <main class="content">
                <div class="nav-container">
                    <div class="filter">

                        <a href="">All</a>
                        <a href="">Sports</a>
                        <a href="">Expresive</a>
                        <a href="" class="active">Ocupational</a>

                    </div>
                    <div class="add-note-container">
                        &#x2B; Add new note
                    </div>
                </div>
                <div class="notes-container">
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="note">
                        <div class="note-date"> 23 June 2017</div>
                        <ul class="note-content">
                            <li class="note-title"> The Monkey rope </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Iusto esse laudantium earum
                                    tempora ipsum. Tempora consequuntur fugit ipsa at officiis.
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>
            </main>
        </div>
    </div>
</body>

</html>